@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.hero-upper {
  height: 6vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-upper h1 {
  color: #ef7722;
  font-size: 3.3vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-upper h1:hover {
  color: #040131;
  transition: all 0.5s ease-in-out;
}
