@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.nav-header {
  display: flex;
  justify-content: right;
  align-items: center;
}
#logo {
  height: 6vw;
  width: 6vw;
}
.nav-header h3 {
  width: 100%;
  font-size: 16px;
  padding: 0.2vw;
  color: #040131;

  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav {
  color: rgb(0, 0, 0);
  height: 6vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ef7722;
  border-bottom: 4px solid rgba(0, 0, 0, 0.158);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1px;
}
ul .li {
  width: 7vw;
  text-align: center;
  text-decoration: none;
  background-color: #16161613;
}
li {
  padding: 0.5vw;
  color: rgb(255, 255, 255);
  font-size: 0.9vw;
  font-weight: 400;
}

.li:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
  li {
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1436px) {
  ul .li {
    width: 8.8vw;
  }
  li {
    padding: 0.5 0.5vw;
  }
}
